/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Jun-2016, 2:32:29 PM
    Author     : pmorrill
*/
body {
  height: auto;
  width: auto;
}

#wrapper { width: 100%; max-width: 1000px; margin: 0px auto; }
table { width: auto; margin: 15px auto 10px 20px; background-color: #454545; }
th { text-align: left; background-color: #efefde; padding: 5px; text-align: center; }
td { text-align: left; background-color: #ffffff; padding: 5px; font-size: 0.8em }
.ctr { text-align: center; }

#spectrogram-wrap {
  position: relative;
}
  
#spectrogram-display {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  border: 1px solid #565656;
}
#spectrogram-display.noscroll { overflow-x: hidden; }

#spectrogram-index-marker {
  border-bottom: 1px solid #880000;
  border-left: 1px solid #880000;
  border-right: 1px solid #880000;
  position: absolute;
  width: 3px;
  z-index: 2;
}
#spectrogram-images {
  width: 7000px;
  height: 280px;
  position: absolute;
}
#spectrogram-display img {
  float: left;
}

#recordingMap {
  width: 85%;
  margin: 10px auto;
  height: 500px;
  border: 1px solid #6767ff;
}

#media_position {
  text-align: right;
  font-size: 0.9em;
}
